extends layout

block content
  h1 Example Dashboard

  ul

    li: a(href='/deezer/search/artist?q=eminem') Search for artists with "eminem" in their name

    li: a(href='/deezer/me') Get information on the currently logged-in user