# npm
node_modules
npm-debug.log

# OS
.DS_STORE

# IDE
*#
*~
.idea
nbproject

# Ignore temporary files
.tmp

# wtf
*.swo
*.swp
*.swn
*.swm

# ignore deezer credentials
examples/with_express/deezerCredentials.js