# npm
node_modules
npm-debug.log

# OS
.DS_STORE

# IDE
*#
*~
.idea
nbproject

# Ignore temporary files
.tmp

# wtf
*.swo
*.swp
*.swn
*.swm

# Examples (for now, to keep me from committing my credentials)
examples